body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
} 

.form-control label {
    margin-bottom: .5rem;
}

.form-control {
    margin-bottom: 1rem;

}

.form-action button,
.btn {
    background: #1443df;
    font: inherit;
    color: white;
    border: 1px solid #1443df;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}
.form-action button:hover,
.form-action button:active,
.btn:hover,
.btn:active { 
    background: #003afa;
    border: #003afa;
    font-size: larger;
    size: larger;
}